body {
    font-family: sans-serif;
}

.mine_did {
    background-color: blue;
}

.my_did{
    background-color: pink;
}

.social{
    border: 1px solid blueviolet;
}

.link-text{
    text-decoration: none;
}
